
<div id='welcome-box' >
	<h1>THE NIGHT IS FOREVER</h1>
	<div class="button-box">
	<span class="waves-effect waves-light btn-large bttn "><%= link_to 'KEEP THE PARTY GOING', new_home_path, method: :get%></span>
	
	<span class="waves-effect waves-light btn-large "><%= link_to 'LATE NIGHT MUNCHIES', new_find_path, method: :get%></span>
	
	<span class="waves-effect waves-light btn-large "><%= link_to 'PLAYER DOWN', "#", method: :get%></spam>
		<%= link_to new_find_path do%>
		 <span>User</span>
		<%end%>
 </div>
</div>
<video  width="400" autoplay loop controls id="bgvid">
<source src="/assets/bandwvideo.mp4" type="video/mp4">
</video>
</div>